@import "variables";

.dropdown {
  &__wrapper {
    height: fit-content;
    transition: height 0.3s ease-in;
    overflow: hidden;
  }

  &__button {
    @extend .flex-row;
    gap: 0.5rem;
    background-color: transparent;
    border: none;
    align-items: center;
  }

  &__content {
    margin-top: 0.5rem;
    @extend .flex-col;
    gap: 0.3rem;
  }
}

.header {
  padding: 1.5rem 1rem;
  justify-content: space-between;

  &__logo {
  }
  &__navigation {
  }
  &__links {
  }
  &__auth {
  }
  &__toggle_button {
    background-color: transparent;
    border: none;
  }
}

.hidden {
  display: none;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.414);
}

.sidebar {
  position: absolute;
  display: flex;
  background-color: $almost-white;
  top: 0;
  right: 0;
  z-index: 55;
  height: 100%;
  width: 15.5rem;
  font-size: $base-font-size;

  &__toggle_button {
    @extend .header__toggle_button;
    align-self: flex-end;
  }
}
