@import "variables";

$gap: 1.5rem;

.dropdown {
  &__wrapper {
    height: fit-content;
    transition: height 0.3s ease-in;
    overflow: hidden;
  }

  &__button {
    @extend .flex-row;
    gap: 1rem;
    background-color: transparent;
    border: none;
    align-items: center;
  }

  &__content {
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    @extend .flex-col;
    gap: $gap;
    transition: margin 0.2s ease-out;

    &-hidden {
      height: 0;
      margin: 0;
      overflow-y: hidden;
    }
  }

  &__feature {
    display: grid;
    height: 1.2rem;
    grid-template-columns: 1rem auto;
    gap: 1rem;
    align-content: center;
    align-items: center;

    img {
      justify-self: center;
      height: 1.2rem;
      width: auto;
    }
  }
}

.dropdown-header {
  &__wrapper {
    position: relative;
  }

  &__button {
    @extend .dropdown__button;
    font-size: 0.9rem;
    gap: 0.5rem;
  }

  &__content {
    @extend .dropdown__content;
    background-color: $white;
    height: fit-content;
    position: absolute;
    bottom: -2rem;
    transform: translateY(100%);
    margin: 0;
    box-shadow: -1px 6px 40px 5px hsl(0deg 0% 76.2% / 51%);
    padding: 1.5rem;
    border-radius: 10px;
    gap: 0.8rem;
    width: max-content;

    &-hidden {
      display: none !important;
    }

    &-left {
      left: 0;
    }

    &-right {
      right: 0;
    }
  }
}

.header {
  padding: 1.5rem 1rem;
  justify-content: space-between;
  align-items: center;

  a {
    font-size: 0.9rem;
  }

  @media screen and (min-width: $breakpoint) {
    padding: 2rem 2.5rem;
  }

  &__navigation {
    gap: 4rem;
    align-items: center;
  }

  &__links {
    @extend .flex-row;
    gap: 2.5rem;
  }
  &__auth {
    align-items: center;
    gap: 2.5rem;

    .button-outline {
      width: 6.5rem;
      border-radius: 13px;
    }
  }

  &__toggle_button {
    background-color: transparent;
    border: none;
  }
}

.hidden {
  display: none;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.414);
}

.sidebar {
  position: absolute;
  display: flex;
  background-color: $almost-white;
  top: 0;
  right: 0;
  z-index: 55;
  height: 100%;
  width: 15.5rem;
  font-size: $base-font-size;
  padding: 1.5rem 1rem 1rem 2rem;
  gap: $gap;

  &__toggle_button {
    @extend .header__toggle_button;
    align-self: flex-end;
    margin-bottom: 0.5rem;
  }

  &__links {
    @extend .flex-col;
    gap: $gap;
  }

  &__auth {
    margin-top: 1rem;
    align-items: center;
    gap: 1rem;
  }
}
