@import "main";
@import "app";
@import "header";
@import "utils";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
a,
button,
p,
body {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  color: $medium-gray;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

.button {
  &-outline {
    border: 1px solid $medium-gray;
    padding: 0.75rem;
    border-radius: 15px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: $breakpoint) {
  h1,
  h2,
  h3,
  a,
  button,
  p,
  body {
    font-family: "Epilogue", sans-serif;
    font-size: 18px;
    color: $medium-gray;
  }
}
