@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --card-size: 300px;
  --strong-green: #7e8373;
  --medium-green: #828176;
  --light-gray: #7c7b7e;
  --dark-gray: #2c2c30;
  --white: #f4f0e5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--dark-gray);
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10vh;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--dark-gray);
}
a:hover {
  color: var(--strong-green);
  text-decoration: underline;
}

.text-md {
  font-size: 1rem;
}

h1 a {
  font-weight: 400;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  mix-blend-mode: color-burn;
  font-size: 10rem;
}

.flex-container {
  width: 75%;
  display: flex;
  flex-direction: column-reverse;
  gap: 4vh;
  align-items: center;
}

.flex-item {
  width: 100%;
  display: flex;
  align-items: stretch;
  text-align: left;
  border: solid 2px var(--medium-green);
  border-radius: 20px;
  overflow: hidden;
}

.flex-image {
  flex: 1;
  max-width: 50%;
  overflow: hidden;
}

.flex-image img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.flex-text {
  color: var(--dark-gray);
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 2rem;
}
