@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
    /* primary colors */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* neutral colors */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;

    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--very-light-gray);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 3.7rem;
}

h1 {
    color: var(--very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}

p {
    color: var(--transparent-white);
}

button {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    border: none;
    background-color: var(--very-light-gray);
    mix-blend-mode: screen;
}

.card {
    display: flex;
    flex-direction: row;
    width: 64%;
    min-height: 500px;

    border-radius: 10px;
    overflow: hidden;
}

.card__section {
    max-height: 100%;
    width: 34%;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.card > .card__section:nth-child(1) {
    background-color: var(--bright-orange);
}

.card > .card__section:nth-child(2) {
    background-color: var(--dark-cyan);
}

.card > .card__section:nth-child(3) {
    background-color: var(--very-dark-cyan);
}

.card__section > img {
    height: 40px;
    width: 65px;
}

.card__section > h1 {
    font-size: 2.5rem;
    margin-top: min(50px, 15%);
    flex-grow: 1;
    max-height: 5rem;
}

.card__section > p {
    line-height: 1.6rem;
    flex-grow: 3;
}

.card__section > button {
    height: 45px;
    width: 145px;
    border-radius: 25px;
}

@media screen and (max-width: 900px){
    body {
        padding-top: 5.5rem;
    }

    .card {
        flex-direction: column;
        min-width: 87%;
    }

    .card__section {
        min-width: 100%;
        min-height: 441px;
        padding: min(50px, 15%);
        align-items: flex-start;
    }

    .card__section p {
        flex-grow: 1;
    }
}

.attribution {
    visibility: hidden;

    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
