* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: hsl(240deg, 6%, 50%);
  font: 12px "Kumbh Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(hsl(273deg, 75%, 66%), hsl(240deg, 73%, 65%));
  padding: 1rem;
  position: relative;
}

.card {
  background: hsl(0deg, 0%, 100%);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 7.5rem;
  width: 95%;
  height: min-content;
}
.card__banner {
  position: relative;
  height: 7.5rem;
  width: 100%;
}
.card__banner_illustration {
  background: url("./images/illustration-woman-online-mobile.svg") no-repeat;
  background-size: contain;
  width: 15rem;
  height: 11rem;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -60%);
}
.card__banner_shadow {
  background: url("./images/bg-pattern-mobile.svg") no-repeat;
  background-size: contain;
  width: 15rem;
  height: 11rem;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -60%);
}
.card__header {
  font-weight: 700;
  font-size: 2rem;
  color: hsl(238deg, 29%, 16%);
}
.card__content-wrapper {
  padding: 0.5rem 1.5rem 2rem 1.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.accordion-item {
  text-align: left;
  border-bottom: 1px solid hsl(240deg, 5%, 91%);
}
.accordion-item__header {
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: -0.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
  color: hsl(237deg, 12%, 33%);
  transition: 0.2s;
}
.accordion-item__header:hover, .accordion-item__header:active {
  color: hsl(14deg, 88%, 65%);
  transition: 0.2s;
}
.accordion-item__header_active {
  font-weight: 700;
}
.accordion-item__header_active .accordion-item__arrow {
  transform: rotate(180deg);
  transition: 0.2s;
}
.accordion-item__arrow {
  transition: 0.2s;
}
.accordion-item__content_visible {
  transition: 0.4s;
  max-height: max-content;
  padding-bottom: 1rem;
}
.accordion-item__content_hidden {
  overflow: hidden;
  transition: 0.4s;
  max-height: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media screen and (min-width: 1000px) {
  body {
    align-items: center;
  }

  .card {
    flex-direction: row;
    max-width: 65%;
    position: relative;
    margin-top: 0;
    min-height: 510px;
  }
  .card__banner {
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .card__banner_illustration {
    background: url("./images/illustration-woman-online-desktop.svg") no-repeat;
    background-size: contain;
    width: 29rem;
    height: 29rem;
    left: -17%;
    top: 15%;
    position: relative;
    transform: translate(0, 0);
  }
  .card__banner_box {
    background: url("./images/illustration-box-desktop.svg") no-repeat;
    background-size: contain;
    height: 12rem;
    width: 12rem;
    position: absolute;
    left: -10%;
    top: 40%;
  }
  .card__banner_shadow {
    background: url("./images/bg-pattern-desktop.svg") no-repeat;
    background-size: contain;
    width: 60rem;
    height: 60rem;
    position: absolute;
    left: -20%;
    top: 55%;
  }
  .card__content-wrapper {
    text-align: left;
    padding: 4rem 7rem 2rem 2rem;
    gap: 1rem;
  }
  .card__header {
    margin-bottom: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
