@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--very-light-gray);
    color: var(--grayish-blue);

    font-family: "Poppins", sans-serif;
    font-size: 15px;

    padding: 12.5vh 8vw;
}

main {
    display: flex;
    flex-direction: column;
    gap: 11.1vh;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.2vh;
    padding: 0 2.5vw;
}

header h1 {
    color: var(--very-dark-blue);
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.2px;
}

header span {
    display: block;
    font-weight: 200;
    font-size: 1.6rem;
    letter-spacing: -0.5px;
}

header p {
    letter-spacing: -0.15px;
    line-height: 1.55rem;
}

.wrapper {
    display: grid;
    gap: 3.6vh;
}

/* universal card selector */
[class^="card"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
}

.card-1::before {
    background-color: var(--cyan);
}

.card-2::before {
    background-color: var(--red);
}

.card-3::before {
    background-color: var(--orange);
}

.card-4::before {
    background-color: var(--blue);
}

[class^="card"] {
    background-color: #fff;
    border-radius: 10px;
    max-height: 222px;
    position: relative;
    overflow: hidden;
    padding: 1.8rem 1.9rem;

    display: grid;
    grid-template-rows: 15% 1fr 1fr;
    gap: 8px;

    box-shadow: 0 13px 25px -8px hsla(214, 50%, 47%, 0.3);
}

[class^="card"] h2 {
    color: var(--very-dark-blue);
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
}

[class^="card"] p {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 1.4rem;
}

[class^="card"] img {
    height: 90%;
    justify-self: end;
    align-self: end;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1000px) {
    body {
        min-height: 100vh;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        align-items: center;
    }

    header {
        width: 41vw;
    }

    header h1 , header span{
        line-height: 3.3rem;
        font-size: 2.4rem;
        letter-spacing: -1px;
    }

    .wrapper {
        margin-top: -5vh;
        grid-template-areas: "l mt r" "l mb r";
    }

    [class^="card"] {
        max-width: 350px;
        /* max-height: 255px; */
    }

    .card-1 {
        grid-area: l;
        align-self: center;
    }

    .card-2 {
        grid-area: mt;
    }

    .card-3 {
        grid-area: mb;
    }

    .card-4 {
        grid-area: r;
        align-self: center;
    }
}
