* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: hsl(224, 21%, 14%);
  letter-spacing: -0.2px;
  word-spacing: 1px;
}
body a,
body a:visited {
  text-decoration: none;
  cursor: pointer;
}
body a:hover {
  color: hsl(219, 85%, 26%);
}

button {
  border: none;
  background-color: none;
  background: none;
  color: hsl(219, 14%, 63%);
  transition: 0.1s ease-in;
  font-weight: 700;
  cursor: pointer;
}

.card_wrapper {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  gap: 1.5rem;
  font-size: 0.9rem;
}

button:hover {
  color: hsl(219, 85%, 26%);
}

#root {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.header h1 {
  font-size: 1.25rem;
  font-weight: 800;
}
.header span {
  background-color: hsl(219, 85%, 26%);
  color: hsl(0, 0%, 100%);
  width: 2rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}
.header button {
  margin-left: auto;
}

.notification_list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.notification {
  color: hsl(219, 12%, 42%);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  gap: 0.8rem;
}
.notification__ping {
  margin-left: 0.2rem;
  display: inline-block;
  background-color: hsl(1, 90%, 64%);
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 100%;
}
.notification-unread {
  background-color: hsl(210, 60%, 98%);
}
.notification__profile_picture {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
}
.notification main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}
.notification__name {
  color: hsl(224, 21%, 14%);
  font-weight: 800;
}
.notification__extra_group {
  font-weight: 800;
  color: hsl(219, 85%, 26%);
}
.notification__extra_post {
  font-weight: 800;
  color: hsl(219, 12%, 42%);
}
.notification__time {
  color: hsl(219, 14%, 63%);
}
.notification__message {
  color: hsl(219, 14%, 63%);
  padding: 1rem;
  margin-top: 0.5rem;
  border: 1px solid hsl(205, 33%, 90%);
  border-radius: 5px;
}
.notification__message:hover {
  background-color: hsl(211, 68%, 94%);
  border: 1px solid hsl(211, 68%, 94%);
  color: hsl(219, 12%, 42%);
}
.notification__picture img {
  width: 2.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
  color: hsl(219, 14%, 63%);
}

.attribution a {
  color: hsl(219, 85%, 26%);
}

@media screen and (min-width: 50rem) {
  body {
    background-color: hsl(210, 60%, 98%);
    justify-content: center;
    align-items: center;
  }
  .card_wrapper {
    font-size: 1rem;
    border-radius: 10px;
    max-width: 45rem;
    padding: 2.5rem 1.8rem 0.6rem 1.8rem;
    gap: 1.8rem;
    box-shadow: 5px 5px 30px 0px hsl(205, 33%, 90%);
  }
  #root {
    gap: 0.5rem;
  }
  .header {
    font-size: 0.9rem;
  }
  .header h1 {
    font-size: 1.5rem;
  }
  .header span {
    height: 1.5rem;
  }
  .notification__profile_picture {
    height: 3rem;
    width: 3rem;
  }
  .notification__message {
    line-height: 1.5rem;
    max-width: 97.5%;
  }
  .notification__picture {
    margin-left: auto;
    transition: transform 0.2s ease-in;
  }
  .notification__picture:hover {
    transform: scale(1.05);
  }
  .attribution {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
