$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);
$very-dark-cyan: hsl(192, 100%, 9%);
$very-pale-blue: hsl(207, 100%, 98%);
$white: hsl(0, 0%, 100%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

a {
  color: $white;
  font-weight: 700;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: -0.1px;
  word-spacing: -1px;
  font-style: normal;
}

ol,
ul,
li {
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

p,
input {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.3rem;
  letter-spacing: -0.2px;
}

input {
  padding: 0 1rem;
}

.input-invalid {
  border: 1px solid $light-red !important;
}

body,
main,
footer {
  color: $very-dark-cyan;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  text-align: center;
  align-items: center;
  gap: 8rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  &-filled {
    @extend .button;
    background-color: $pink;
    color: $white;
    height: 2.5rem;
    width: 12.5rem;
    border-radius: 2.5rem;
    transition: 0.2s ease-in;
  }

  &-filled:hover,
  &-filled:active {
    background-color: $light-pink;
    box-shadow: 5px 5px 8px 1px hsl(0, 0%, 83.99%);
  }

  &-header {
    @extend .button;
    font-size: 0.6rem;
    background-color: $white;
    border: 1px solid $pink;
    color: $light-pink;
    height: 1.5rem;
    width: 5rem;
    border-radius: 1.5rem;
    font-weight: 400;
    transition: 0.2s ease-in;
  }

  &-header:hover,
  &-header:active {
    border: 1px solid $light-pink;
    box-shadow: 0px 0px 8px 1px hsl(0deg 0% 83.99%);
  }
}

section,
footer {
  position: relative;
  padding: 0 1.8rem;
}

.flex {
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  img {
    max-height: 1rem;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  min-height: 33rem;
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;

  &__main_image {
    width: 80%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &-blue {
    background-color: $very-pale-blue;

    &_1 {
      padding-top: 5rem;
    }
  }

  &-white {
    padding-top: 4rem;
    padding-bottom: 0;
    &_2 {
      gap: 2.5rem;
    }
  }

  &-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5.5rem;
    gap: 6.2rem;

    > img {
      max-width: 97%;
      margin-bottom: 1.25rem;
    }

    .button {
      margin: 1.5rem 0 0 0;
    }

    &__columns {
      display: flex;
      flex-direction: column;
      gap: 6rem;
    }

    &__number-1,
    &__number-2 {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      span {
        margin-bottom: 0.5rem;
      }
    }

    &__number-1 {
      img {
        width: 2rem;
        height: 100%;
      }

      span {
        line-height: 4rem;
        font-weight: 700;
        font-size: 3.9rem;
      }
    }

    &__number-2 {
      img {
        width: 1.5rem;
        height: 100%;
      }

      span {
        line-height: 4rem;
        font-weight: 700;
        font-size: 3.2rem;
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &-contact {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

.curve {
  width: 100%;
  position: absolute;
  left: 0;

  &-top_mobile {
    @extend .curve;
    top: 0;
    transform: translateY(-99%);
  }
  &-bottom_mobile {
    @extend .curve;
    bottom: 0;
    transform: translateY(99%);
  }
  &-top_desktop {
    @extend .curve;
    top: 0;
    transform: translateY(-99%);
    visibility: hidden;
  }
  &-bottom_desktop {
    @extend .curve;
    bottom: 0;
    transform: translateY(99%);
    visibility: hidden;
  }
}

footer {
  padding-top: 3.5rem;
  background-color: $very-dark-cyan;
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  section {
    padding: 0;
  }
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  gap: 6rem;

  img {
    max-width: 12.5rem;
    height: auto;
    filter: brightness(0) invert(1);
  }

  h2 {
    text-transform: uppercase;
  }

  .section__content {
    align-items: flex-start;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    input,
    button {
      border: none;
      border-radius: 5px;
      height: 3rem;
      color: $very-dark-cyan;
    }

    button {
      @extend .button;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      font-size: 0.95rem;
      align-self: flex-end;
      width: 10rem;
      background-color: $pink;
      color: $white;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
      font-weight: 400;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        margin-right: 1rem;
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: $white;

    ion-icon {
      font-size: 1.5rem;
    }
  }
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.error {
  color: $light-red;
  font-size: 0.8rem;
  display: inline-block;

  &-hidden {
    display: none;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    font-size: 11px;
    font-weight: 400;
    color: $pink;
  }
}

@media screen and (min-width: 50rem) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    line-height: 1.8rem;
  }

  a {
    font-size: 1.3rem;
  }

  body {
    gap: 4rem;
  }

  .curve {
    &-top_mobile {
      visibility: hidden;
    }
    &-bottom_mobile {
      visibility: hidden;
    }
    &-top_desktop {
      visibility: visible;
    }
    &-bottom_desktop {
      visibility: visible;
    }
  }

  .button {
    &-filled {
      @extend .button;
      background-color: $pink;
      color: $white;
      height: 5rem;
      width: 25rem;
      border-radius: 2.5rem;
    }

    &-header {
      @extend .button;
      font-size: 1rem;
      color: $light-pink;
      height: 2.5rem;
      width: 8.5rem;
      border-radius: 1.5rem;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 3rem 5rem 5rem;

    img {
      max-height: 5rem;
    }
  }

  section,
  footer {
    position: relative;
    padding: 0 7.5rem;
  }

  .section {
    padding-top: 12rem;
    padding-bottom: 2rem;
    justify-content: space-between;
    gap: 2rem;
    &__content {
      align-items: flex-start;
      text-align: left;
      max-width: 45%;

      p {
        font-size: 18px;
      }
    }

    &-hero {
      padding-bottom: 10rem;
      &__number-1,
      &__number-2 {
        font-size: 2rem !important;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        span {
          margin-bottom: 0.5rem;
        }
      }

      &__number-1 {
        img {
          width: 3rem;
          height: 100%;
        }

        span {
          line-height: 8rem;
          font-weight: 700;
          font-size: 6rem;
        }
      }

      &__number-2 {
        img {
          width: 2.5rem;
          height: 2.2rem;
        }

        span {
          line-height: 8rem;
          font-weight: 700;
          font-size: 6rem;
        }
      }

      .flex-header {
        p {
          max-width: 39rem;
        }
      }

      &__columns {
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
      }
    }

    &__main_image {
      width: 45%;
    }

    &-blue_1,
    &-blue_2 {
      flex-direction: row-reverse;
    }

    &-blue_1 {
      padding-top: 5rem;
    }

    &-blue_2 {
      padding-top: 3rem;
    }

    &-white_1 {
      flex-direction: row;
      padding-bottom: 10rem;
    }
    &-white_2 {
      padding-bottom: 20vw;

      h1 {
        font-size: 2.5rem;
      }
    }

    &-contact {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .section__content {
        max-width: 70%;
        p {
          font-size: 0.9rem;
        }

        &-last {
          margin-top: auto;
          margin-bottom: 0;
        }
      }

      a {
        font-size: 1rem;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          margin-right: 1rem;
        }
      }
    }

    &-form {
      .section__content {
        max-width: 70%;

        h2 {
          font-size: 1.5rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }
  }

  .footer {
    min-height: 30rem;
    flex-direction: row;
    padding-top: 8rem;
    gap: 13rem;

    img {
      max-width: 15rem;
      height: auto;
      filter: brightness(0) invert(1);
    }

    &__form {
      flex-direction: row;
      width: 100%;
      gap: 2.5rem;

      input,
      button {
        border: none;
        border-radius: 5px;
        height: 3rem;
        color: $very-dark-cyan;
      }

      .input_wrapper {
        width: 100%;
        flex-grow: 1;
        max-width: 20rem;
      }

      button {
        color: $white;
        align-self: flex-start;
      }
    }

    &__social {
      ion-icon {
        font-size: 2rem;
      }
    }
  }
}
